/* تعيين الحجم الكامل للـ Swiper */
.swiper {
  width: 100%;  
  height: 500px; 
  margin: 20px auto; 
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.swiper-slide img {
  display: block;
  width: 100%;  
  height: 100%; 
  object-fit: cover;  
}



/* تخصيص النصوص النشطة */
.active {
  font-weight: bold;
  color: #6A6E49;
  text-decoration: underline;
}
